@import "../../../../variables.scss";

.their-chats {
  padding: $padding;
  @include flex(center, left, 0);

  .main {
    @include flex(center, left, 0.5rem);
    flex-direction: row;
  }

  .img-container {
    cursor: pointer;
    img {
      width: 30px;
      border-radius: 50%;
      border: 2px solid beige;
      box-shadow: $box-shadow;
      height: 30px;
      object-position: top;
      object-fit: cover;
    }
  }

  .text-body {
    @include flex(flex-start, left, 0);
    flex-direction: column;
    // background-color: #fff;
  }

  .filter-container {
    @include flex(center, flex-end, 0.3rem);
    width: 100%;
    position: relative;
    .actions {
      @include flex(center, center, 0rem);
      flex-direction: column;
      position: absolute;
      right: -2.2rem;
      & > div {
        transform: scale(0.8);
      }
      .edit {
        color: green;
      }

      .delete {
        color: orangered;
      }
    }
  }

  .filter {
    background-color: rgba(white, 0.1);
    // border-radius: 5px;
    border-radius: 30px 30px 30px 0;
    width: 100%;
    text-align: left;
    overflow: hidden;
    .toogle {
      cursor: pointer;
      color: $button-default;
    }
    .replied-link {
      color: inherit;
    }
    .replied-message {
      padding: $padding;
      // border-radius: 5px;
      border-radius: 30px 30px 30px 5px;
      border-left: 5px solid rgba(black, 1);
      background-color: rgba(black, 0.1);
      overflow: hidden;
      width: 100%;
      word-break: break-all;
      em {
        display: block;
        font-style: normal;
      }
    }
    .parent-author {
      font-weight: bold;
    }
  }

  .name {
    line-height: 1px;
    font-weight: bold;
    text-align: left;
    //color: rgba(black, 0.8);
  }

  .message {
    color: rgba(black, 0.8);
    word-wrap: break-word;
    //width: 50%;
  }

  .time {
    font-size: 14px;
    padding: 5px;
    text-align: left;
  }

  .reaction-container {
    @include flex(center, flex-start, 0);
    padding: 0;
    .picker-container {
      position: relative;
    }
    .picker {
      transform: scale(0.7);
      position: absolute;
      // background-color: blue;
      width: 20px;
      height: 20px;
      z-index: 10;
    }
  }

  .reactions {
    @include flex(center, flex-start, 0);
    flex-wrap: wrap;
    position: relative;
    max-width: 200px;
    div {
      transform: scale(0.6);
      margin: 0;
      box-sizing: border-box;
    }
  }

  .file-container {
    @include flex(flex-start, flex-start, 10px);
    flex-direction: column;
    // max-width: 50%;
    width: 100%;
    margin-bottom: 10px;
  }
  .file {
    width: 300px;
    overflow: hidden;
    background-color: rgba(beige, 0.3);
    border-radius: 30px;
    text-align: left;
    @include flex(center, flex-start, 1rem);
    & * {
      color: rgba(black, 0.8);
    }
    a {
      cursor: pointer;
    }
  }

  .file-icon-container {
    padding: $padding;
    background-color: rgba($button-default, 1);
    border-radius: 50%;
    box-shadow: $box-shadow;
    i {
      scale: 0.8;
      color: white;
    }
  }

  .file-details {
    @include flex(flex-start, flex-start, 0);
    flex-direction: column;
  }

  .file-name {
    font-weight: bold;
    font-style: normal;
    font-size: 19px;
    color: $button-default;
    filter: drop-shadow(0px 0px 1px rgba(white, 0.2));
  }
  .file-size {
    font-style: normal;
    font-size: 15px;
  }
}

.reaction {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  transition: 0.1s;
  cursor: pointer;
  sub {
    font-size: 12px;
  }
  &:hover {
    transform: scale(1.2);
    padding: 3px;
  }
}

@media (max-width: 550px) {
  .their-chats {
    padding: 10px 0;
    .img-container {
      display: none;
    }
    .file-container {
      .file {
        width: 100%;
      }
    }
  }
}
