.their-chats {
  padding: 10px;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0;
}
.their-chats .main {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row;
}
.their-chats .img-container {
  cursor: pointer;
}
.their-chats .img-container img {
  width: 30px;
  border-radius: 50%;
  border: 2px solid beige;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  height: 30px;
  -o-object-position: top;
     object-position: top;
  -o-object-fit: cover;
     object-fit: cover;
}
.their-chats .text-body {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
.their-chats .filter-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  position: relative;
}
.their-chats .filter-container .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
  position: absolute;
  right: -2.2rem;
}
.their-chats .filter-container .actions > div {
  transform: scale(0.8);
}
.their-chats .filter-container .actions .edit {
  color: green;
}
.their-chats .filter-container .actions .delete {
  color: orangered;
}
.their-chats .filter {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 30px 30px 30px 0;
  width: 100%;
  text-align: left;
  overflow: hidden;
}
.their-chats .filter .toogle {
  cursor: pointer;
  color: rgb(13, 153, 235);
}
.their-chats .filter .replied-link {
  color: inherit;
}
.their-chats .filter .replied-message {
  padding: 10px;
  border-radius: 30px 30px 30px 5px;
  border-left: 5px solid black;
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
  width: 100%;
  word-break: break-all;
}
.their-chats .filter .replied-message em {
  display: block;
  font-style: normal;
}
.their-chats .filter .parent-author {
  font-weight: bold;
}
.their-chats .name {
  line-height: 1px;
  font-weight: bold;
  text-align: left;
}
.their-chats .message {
  color: rgba(0, 0, 0, 0.8);
  word-wrap: break-word;
}
.their-chats .time {
  font-size: 14px;
  padding: 5px;
  text-align: left;
}
.their-chats .reaction-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  padding: 0;
}
.their-chats .reaction-container .picker-container {
  position: relative;
}
.their-chats .reaction-container .picker {
  transform: scale(0.7);
  position: absolute;
  width: 20px;
  height: 20px;
  z-index: 10;
}
.their-chats .reactions {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
  position: relative;
  max-width: 200px;
}
.their-chats .reactions div {
  transform: scale(0.6);
  margin: 0;
  box-sizing: border-box;
}
.their-chats .file-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.their-chats .file {
  width: 300px;
  overflow: hidden;
  background-color: rgba(245, 245, 220, 0.3);
  border-radius: 30px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.their-chats .file * {
  color: rgba(0, 0, 0, 0.8);
}
.their-chats .file a {
  cursor: pointer;
}
.their-chats .file-icon-container {
  padding: 10px;
  background-color: #0d99eb;
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.their-chats .file-icon-container i {
  scale: 0.8;
  color: white;
}
.their-chats .file-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
.their-chats .file-name {
  font-weight: bold;
  font-style: normal;
  font-size: 19px;
  color: rgb(13, 153, 235);
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.2));
}
.their-chats .file-size {
  font-style: normal;
  font-size: 15px;
}

.reaction {
  display: block;
  position: relative;
  padding: 0;
  margin: 0;
  transition: 0.1s;
  cursor: pointer;
}
.reaction sub {
  font-size: 12px;
}
.reaction:hover {
  transform: scale(1.2);
  padding: 3px;
}

@media (max-width: 550px) {
  .their-chats {
    padding: 10px 0;
  }
  .their-chats .img-container {
    display: none;
  }
  .their-chats .file-container .file {
    width: 100%;
  }
}/*# sourceMappingURL=TheirChats.module.css.map */