.my-chats {
  padding: 10px;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0;
}
.my-chats .main {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 0.5rem;
  flex-direction: row-reverse;
}
.my-chats .img-container {
  cursor: pointer;
}
.my-chats .img-container img {
  width: 30px;
  height: 30px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 50%;
  border: 2px solid beige;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.my-chats .text-body {
  display: flex;
  justify-content: right;
  align-items: flex-end;
  gap: 0;
  flex-direction: column;
}
.my-chats .filter-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.3rem;
  width: 100%;
  position: relative;
}
.my-chats .filter-container .actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0rem;
  flex-direction: column;
  position: absolute;
  left: -2.2rem;
}
.my-chats .filter-container .actions > div {
  transform: scale(0.8);
}
.my-chats .filter-container .actions .edit {
  color: green;
}
.my-chats .filter-container .actions .delete {
  color: orangered;
}
.my-chats .filter {
  background-color: rgba(13, 153, 235, 0.5);
  border-radius: 30px 30px 0px 30px;
  max-width: 100%;
  text-align: left;
  overflow: hidden;
  flex: 1;
}
.my-chats .filter .toogle {
  cursor: pointer;
  color: rgba(0, 0, 255, 0.7);
}
.my-chats .filter .replied-link {
  color: inherit;
}
.my-chats .filter .replied-message {
  padding: 10px;
  border-radius: 30px 30px 5px 30px;
  border-right: 5px solid #0d99eb;
  background-color: rgba(13, 153, 235, 0.3);
  word-wrap: break-word;
}
.my-chats .filter .replied-message em {
  display: block;
  font-style: normal;
}
.my-chats .filter .parent-author {
  font-weight: bold;
}
.my-chats .name {
  line-height: 1px;
  font-weight: bold;
  text-align: right;
}
.my-chats .message {
  word-wrap: break-word;
  color: rgba(0, 0, 0, 0.8);
}
.my-chats .time {
  font-size: 14px;
  padding: 5px;
  text-align: right;
}
.my-chats .reaction-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  padding: 0;
}
.my-chats .reaction-container .picker-container {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: bottom;
  gap: 0;
  flex-direction: row-reverse;
}
.my-chats .reaction-container .picker {
  transform: scale(0.7);
  position: absolute;
  width: 300px;
  height: 20px;
  z-index: 10;
}
.my-chats .reactions {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  position: relative;
  max-width: 200px;
}
.my-chats .reactions div {
  transform: scale(0.6);
  margin: 0;
  box-sizing: border-box;
}
.my-chats .file-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 10px;
}
.my-chats .file {
  width: 300px;
  overflow: hidden;
  background-color: rgba(13, 153, 235, 0.3);
  border-radius: 30px;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.my-chats .file * {
  color: rgba(0, 0, 0, 0.8);
}
.my-chats .file a {
  cursor: pointer;
}
.my-chats .file-icon-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
}
.my-chats .file-icon-container i {
  scale: 1.5;
  color: rgb(13, 153, 235);
}
.my-chats .file-details {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0;
  flex-direction: column;
}
.my-chats .file-name {
  font-weight: bold;
  font-style: normal;
  font-size: 19px;
  color: rgb(13, 153, 235);
  filter: drop-shadow(0px 0px 1px rgba(255, 255, 255, 0.2));
}
.my-chats .file-size {
  font-style: normal;
  font-size: 15px;
}

.icon {
  transform: scale(0.8);
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  cursor: pointer;
}

@media (max-width: 550px) {
  .my-chats {
    padding: 10px 0;
  }
  .my-chats .img-container {
    display: none;
  }
  .my-chats .file-container .file {
    width: 100%;
  }
}/*# sourceMappingURL=MyChats.module.css.map */